<p-table [value]="items" selectionMode="single" [rows]="totalResults" [virtualRowHeight]="28" scrollHeight="{{getScrollHeight()}}" [(selection)]="selectedItem"
  [scrollable]="true" [totalRecords]="totalResults" [virtualScroll]="true" [lazy]="true" (onLazyLoad)="loadDataOnScroll($event)"
  (onRowSelect)="onRowSelect($event)">
  <ng-template pTemplate="body" let-rowData>
    <tr [pSelectableRow]="rowData">
      <td>{{rowData.title}}</td>
    </tr>
  </ng-template>
</p-table>
