<nb-card class="transparent">
  <nb-card-body>
    <div class="row">
      <div class="col-lg-12">
        <h1>
          <strong>{{model.title}}</strong>
          <h6>({{model.release_date | date: 'y'}})</h6>
        </h1>
      </div>
    </div>
    <br/>
    <div class="row">
      <div class="col-lg-3" *ngIf="images.length > 0" >
        <p-lightbox [images]="images"></p-lightbox>
        <br/>
      </div>
      <br/>
      <div class="col-lg-8">
        <div class="col-lg-12">
          <div class="chart">
            <div>
              <circle-progress [percent]="model.vote_average * 10" [radius]="35" [outerStrokeWidth]="8" [innerStrokeWidth]="1" [outerStrokeColor]="'#f4b042'"
                [innerStrokeColor]="'#f4b042'" [animation]="true" [animationDuration]="1000" [showSubtitle]="false"></circle-progress>
            </div>
            <div class="block">
              <strong>{{resources.vote_average}}</strong>
              <span class="font-weight-light font-italic">{{resources.vote_count}}: {{model.vote_count}}</span>
            </div>
          </div>
        </div>
        <br/>
        <div class="col-lg-12">
          <h4>{{resources.overview}}</h4>
          <p class="text-indent">
            {{model.overview}}
          </p>
        </div>
        <br/>
        <div *ngIf="model.videos" class="col-lg-12">
          <h4>Trailers</h4>
          <p class="text-indent">
            <p-lightbox [images]="images"></p-lightbox>
          </p>
        </div>
        <div *ngIf="model.cast" class="col-lg-12">
          <h4>Cast</h4>
          <nb-card size="medium" class="list-view">
            <nb-card-body>
              <span *ngFor="let item of model.cast">
                <div class="header">
                  <div>
                    <img class="list-pic" src="{{getProfilePicUrl(item)}}">
                  </div>
                  <div>
                    <div>
                      <h6>{{item.name}}</h6>
                    </div>

                    <div class="detail font-w-light">
                      {{item.character}}
                    </div>
                  </div>
                </div>
              </span>
            </nb-card-body>
          </nb-card>
        </div>
      </div>
    </div>
  </nb-card-body>
</nb-card>
