.ui-lightbox {
    z-index: 1040 !important;
}

.chart {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    height: 68px;
}

.block {
    display: inline-grid;
}

.nb-theme-default .list-view
.header {
    display: flex;
    padding-bottom: 1rem;
    margin-bottom: 1rem;
    border-bottom: 1px solid #ebeef2;
    color: #2a2a2a;
}

.list-pic{
  margin-right: 1em;
}

.nb-theme-default .transparent{
  background: #ffffffdb;
  color: #000000;
}
