<div class="row">
  <div class="col-md-3">
    <nb-card class="full">
      <nb-card-header>
        Most Popular
      </nb-card-header>
      <nb-card-body>
        <ngx-sideView [items]="models" (onSelected)="selected($event)"></ngx-sideView>
      </nb-card-body>
    </nb-card>
  </div>

  <div class="col-md-9">
    <ngx-detailView [(model)]="selectedModel"></ngx-detailView>
  </div>
</div>
